// Admin Panel Styling
$background: #f0f0f1;
$fontRoboto: 'Roboto', sans-serif;
$adminPrimaryColor: #F97D03;
$paraColor: #3c434a;
$TabsColor: rgb(68, 68, 68);

// User View Styles
$userPrimaryColor: #F97D03;
$userSecondaryColor: #111;
$userGrey1: #e5e4e4;